<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="index3.html" class="brand-link disabled">
        <img src="/assets//dist/img/spk-logo.svg" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
            style="opacity: .8">
        <span class="brand-text font-weight-light">SPK Alat Kontrasepsi</span>
    </a>
    <!-- Sidebar -->
    <div class="sidebar">

        <!-- Sidebar Menu -->
        <nav class="mt-2">
            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                <li class="nav-item menu-open">
                    <a href="#" class="nav-link active">
                        <i class="nav-icon fas fa-tachometer-alt"></i>
                        <p>
                            Main Menu
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a href="/" class="nav-link <%= page === 'home' ? 'active' : '' %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Home</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="/jenis" class="nav-link <%= page === 'type' ? 'active' : '' %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Posisi</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link disabled <%= page === 'criteria' ? 'active' : '' %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Kriteria</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link disabled <%= page === 'priority' ? 'active' : '' %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Bobot</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="nav-link disabled <%= page === 'result' ? 'active' : '' %>">
                                <i class="far fa-circle nav-icon"></i>
                                <p>Rekomendasi</p>
                            </a>
                        </li>
                    </ul>
                </li>

            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>