<!--
including header content which is common for all pages
-->
<%- include ../layouts/header.ejs %>

<section id="hero" class="hero d-flex align-items-center">
  <div class="container">
    <form action="/kriteria/edit/<%= id_kriteria %>" method="post" name="form1">
      <table width="25%" border="0" class="text-white">
        <tr>
          <td>Nama Kriteria</td>
          <td><input class="form-control" type="text" name="nm_kriteria" id="nm_kriteria" value="<%= nm_kriteria %>" /></td>
        </tr>
        <tr>
          <td>Jenis</td>
          <td><input class="form-control" type="text" name="jenis" value="<%= jenis %>" /></td>
        </tr>
        <tr>
          <td></td>
          <td><input class="btn btn-primary" type="submit" name="Submit" value="Edit" /></td>
        </tr>
      </table>
      <input type="hidden" name="_method" value="PUT" />
    </form>
  </div>
</section>

<!--
including footer content which is common for all pages
-->
<%- include ../layouts/footer.ejs %>
